Repository rosesareblack/december: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-frontend, tsc-backend

tsc-frontend:
  name: TypeScript Type Check (Frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

tsc-backend:
  name: TypeScript Type Check (Backend)
  entry: bash -c 'cd backend && npx tsc --noEmit'
  language: system
  pass_filenames: false

Create vercel.json
  vercel.json
Due: none

Update vercel.json
  vercel.json
Due: none

feat: Add npm scripts for dev, build, and start
  backend/package.json
Due: none

Update project configuration to ensure successful deployments
  .replit
Due: none

Update how the application runs on local development servers
  frontend/package.json
Due: none

Update AI configuration to use environment variables
  config.ts
Due: none

Update project configuration for Vercel deployment
  frontend/package-lock.json
Due: none

Update build configuration to improve Vercel deployment performance
  .replit
  backend/config.ts
  frontend/next.config.ts
  frontend/src/app/layout.tsx
Due: tsc-frontend, tsc-backend

Add detailed project documentation for AI development platform
  replit.md
Due: none

Add instructions for pushing code to the repository
  .replit
Due: none

feat: Migrate to browser-based architecture
  FILES_CHANGED.md
  IMPLEMENTATION_SUMMARY.md
  MIGRATION_COMPLETE.md
  MIGRATION_GUIDE.md
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/projects/components/CreateProjectCard.tsx
  frontend/src/app/projects/components/LivePreview.tsx
  frontend/src/app/projects/components/ProjectCard.tsx
  frontend/src/app/projects/components/ProjectPromptInterface.tsx
  frontend/src/app/projects/components/ProjectsGrid.tsx
  frontend/src/app/projects/components/WorkspaceDashboard.tsx
  frontend/src/lib/services/ai.ts
  frontend/src/lib/services/api.ts
  frontend/src/lib/services/container.ts
  frontend/src/lib/services/export.ts
  frontend/src/lib/services/fileSystem.ts
Due: tsc-frontend

feat: Add project deployment and audit dashboard
  AUDIT_DEPLOYMENT_SYSTEM.md
  frontend/src/app/projects/components/DeploymentDashboard.tsx
  frontend/src/app/projects/components/WorkspaceDashboard.tsx
  frontend/src/lib/services/audit.ts
  frontend/src/lib/services/deployment.ts
  frontend/src/lib/services/maintenance.ts
  frontend/src/lib/services/projectDelivery.ts
Due: tsc-frontend

Path conditions:
  tsc-frontend: any of: ^frontend/.*\.(ts|tsx)$
  tsc-backend: any of: ^backend/.*\.ts$
